* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --color-brand: #4d84fe;
  --color-brand-dark: #0077d3;
}

body {
  background-color: #e9ecf4;
}

.center-item {
  padding: 0rem 1.35rem;
  width: 100%;
  max-width: 940px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-item__heading {
  font-size: 1.7rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  text-align: center;
}

.center-item__form {
  position: relative;
  left: 50px;
}

.center-item__input {
  width: 100%;
  max-width: 760px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0rem 1.2rem;
  border-radius: 100px;
  font-size: 0.9rem;
  flex-shrink: 0;
  margin-right: 0.75rem;
  background-color: white;
  color: black;
}

.center-item__button {
  border-radius: 50px;
  border: none;
  background-color: var(--color-brand);
  color: white;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

.center-item__button:hover {
  opacity: 0.92;
}

.small-text {
  font-size: 0.91rem;
}

.click-here {
  color: var(--color-brand);
  user-select: none;
  cursor: pointer;
}

.click-here:hover {
  color: var(--color-brand-dark);
}

@media (max-width: 1000px) {
  .center-item__form {
    position: static;
  }

  .center-item__input {
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .center-item__button {
    display: block;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .center-item__heading {
    font-size: 1.3rem;
  }
}
